<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pada_0</title>
    <link rel="stylesheet" href="static/stylesheets/pada_0/pada_0.css">
</head>
<body>
    <header>
        <nav>
            <a href="/dir">Directory</a>

            <ul id='nav'>
                <span class="s1"></span>
                <span class="s2"></span>
                <span class="s3"></span>

                <li class='show'><a>item1</a></li>
                <li class='show'><a>item2</a></li>
                <li class='show'><a>item3</a></li>
                <li class='show'><a>item4</a></li>
            </ul>
        </nav>
        <div>
            <h1>Welcome to week3</h1>
        </div>
    </header>
    <main id="taipei_fun"></main>
    <script src="static/js/pada_0.js"> </script>
    <script src="static/js/pada_2.js"> </script>
</body>
</html>