/*big screen @media 1200pc*/
$header_max-height: 300px;
$body_max-width: 1200px;

$base_fz: 50px;
$header_fz: ($base_fz)*2;
// $p-black: #000;
// $p-white:#fff;

// $ff-nav: 'Rye', cursive;
// $ff-text:'PT Serif', serif;

// $fz-bg: 3rem;
// $fz-md: 2rem;
// $fz-sm: 1rem;

// $font-weights: (
//     'regular': 400,
//     'medium': 500,
//     'bold': 700,
// );
 
// $high-zindex: 5;
// $lower-zindex: 2;
// $low-zindex: 1;
// $n-zindex: -1;