@import url('../reset.css');
@import '_variable';

// @import 'scss/aMixin';
// @import 'scss/mediaQ';

// @import 'scss/header1pianoWavy';
// @import 'scss/header2curtainNav';
// @import 'scss/header3keysHolder';
// @import 'scss/main1Pillar';
// @import 'scss/footer';

*, *::before, *::after {
  box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
  display: block;
  // width: 100%;
}

// h1{
      
// }
// li{
//   font-size: $header_fz;
// }


// @mixin h1{
//   font-size: 3rem;
//   font-weight: weight(bold);
//   font-family: $ff-nav;
//   color: $p-black;
//   text-align: center;
// }
// @mixin text{
//   font-family: $ff-text;
//   font-weight: 700;
//   font-size: 1rem;
// }

// @media only screen and (max-width: 1200px) {

//  }

// @media all and (max-width: 1200px) and (min-width: 600px) {

//   }

// @media only screen and (min-width: 1200px) {

//  }