{% extends 'layout.html' %}
    {% block pada_3_head_link%}
        <link rel="stylesheet" href="static/stylesheets/pada_3/pada_3.css">
    {% endblock %}
    {% block h1 %}
        <!-- <h1>歡迎光臨，請輸入帳號密碼</h1> -->
        <h1>{{web_info.signin_t}}</h1>
    {% endblock %}    
    {% block signin %}
        <form action="/signin" method="POST">
            
            <h3>登入系統</h3>
            <div>
                <label for="username">帳號</label>
                <input name="username" type="text">
            </div>
            <div>
                <label for="password">密碼</label>
                <input name="password" type="password">  
            </div>
            <button>登入</button>
        </form>
    {% endblock %}
    <!-- {% block login_js%}
        <script src="static/js/pada_3.js"> </script>
    {% endblock %} -->