<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pada_0</title>
    <link rel="stylesheet" href="/static/stylesheets/0/pada_0.css">
</head>
<body>
    <header>
        <h1>Welcom to pada_0</h1>
        <nav>
            <a href="http://127.0.0.1:5500/">Home</a>
            <ul id='navigation'>
                {#}
                {% for item in navigation %}
                <!-- <li><a href="{{ item.href }}">{{ item.caption }}</a></li> -->
                    <li><a>{{item}}</a></li>
                {% endfor %}
                #}
                <li><a>item1</a></li>
                <li><a>item2</a></li>
                <li><a>item3</a></li>
                <li><a>item4</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul>
            <li>
                <img src="" alt="">
                <p></p>
            </li>
            <li>
                <img src="" alt="">
                <p></p>
            </li>
            <li>
                <img src="" alt="">
                <p></p>
            </li>
            <li>
                <img src="" alt="">
                <p></p>
            </li>
            <li>
                <img src="" alt="">
                <p></p>
            </li>
            <li>
                <img src="" alt="">
                <p></p>
            </li>
            <li>
                <img src="" alt="">
                <p></p>
            </li>
            <li>
                <img src="" alt="">
                <p></p>
            </li>
        </ul>
    </main>
</body>
</html>